{
    "openapi": "3.0.1",
    "info": {
        "title": "ContactInformation.Api API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://contactinformationapi-devtest.cumulus.sebank.se"
        }
    ],
    "paths": {
        "/api/auth/logout": {
            "get": {
                "tags": ["auth"],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "The requested API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/inactivity": {
            "get": {
                "tags": ["auth"],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "The requested API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/config": {
            "get": {
                "tags": ["config"],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "The requested API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShellConfig"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShellConfig"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShellConfig"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/contact-information": {
            "get": {
                "tags": ["contact-information"],
                "summary": "Retrieve the contact information for the logged in user",
                "operationId": "GetContactInformation",
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactInfo"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactInfo"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactInfo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/update": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Initiate a request to update e-mail, work phone number or home phone number",
                "operationId": "UpdateContactInformation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateContactInformationRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateContactInformationRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateContactInformationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/delete": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Initiate a request to delete e-mail, work phone number or home phone number",
                "operationId": "DeleteContactInformation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteContactInformationRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteContactInformationRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteContactInformationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateContactInformationCommandResult"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/complete": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Complete a request to add, update or delete e-mail, work phone, home phone or mobile phone",
                "operationId": "CompleteContactInformationUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompleteRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompleteRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteContactInformationCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteContactInformationCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteContactInformationCommandResult"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/add-mobile": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Initiate a request to add mobile phone number",
                "operationId": "AddMobilePhoneNumber",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddMobilePhoneNumberRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddMobilePhoneNumberRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddMobilePhoneNumberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/update-mobile": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Initiate a request to update mobile phone number",
                "operationId": "UpdateMobilePhoneNumber",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMobilePhoneNumberRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMobilePhoneNumberRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMobilePhoneNumberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddOrUpdateMobileCommandResult"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/contact-information/delete-mobile": {
            "post": {
                "tags": ["contact-information"],
                "summary": "Initiate a request to delete mobile phone number",
                "operationId": "DeleteMobilePhoneNumber",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteMobilePhoneNumberRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteMobilePhoneNumberRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteMobilePhoneNumberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "If the mainframe services are returning errors"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMobileCommandResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMobileCommandResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMobileCommandResult"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/v1/otp/verify": {
            "post": {
                "tags": ["otp"],
                "summary": "Verify the OTP for a specific contact information update",
                "operationId": "VerifyOtp",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "503": {
                        "description": "Server Error"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyOtpResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyOtpResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyOtpResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/ping": {
            "get": {
                "tags": ["ping"],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "The requested API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AuthResponse": {
                "type": "object",
                "properties": {
                    "logoutUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "redirectUrl": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "FileConfig": {
                "type": "object",
                "properties": {
                    "path": {
                        "type": "string",
                        "nullable": true
                    },
                    "order": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "inline": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "ShellConfig": {
                "type": "object",
                "properties": {
                    "html": {
                        "type": "string",
                        "nullable": true
                    },
                    "js": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FileConfig"
                        },
                        "nullable": true
                    },
                    "css": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FileConfig"
                        },
                        "nullable": true
                    },
                    "bootstrap": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "PhoneNumber": {
                "type": "object",
                "properties": {
                    "countryCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "number": {
                        "type": "string",
                        "nullable": true
                    },
                    "hasCountryCode": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "ContactInfo": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "phoneNumber": {
                        "$ref": "#/components/schemas/PhoneNumber"
                    },
                    "phoneNumberHome": {
                        "$ref": "#/components/schemas/PhoneNumber"
                    },
                    "phoneNumberWork": {
                        "$ref": "#/components/schemas/PhoneNumber"
                    },
                    "readOnly": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "ContactType": {
                "enum": [
                    "email",
                    "phoneNumber",
                    "phoneNumberHome",
                    "phoneNumberWork"
                ],
                "type": "string"
            },
            "UpdateContactInformationRequest": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ContactType"
                    },
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "phoneNumberHome": {
                        "type": "string",
                        "nullable": true
                    },
                    "phoneNumberWork": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "UpdateContactInformationCommandResult": {
                "type": "object",
                "properties": {
                    "updateId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "signingOrderId": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "additionalProperties": false
            },
            "HttpStatusCode": {
                "enum": [
                    "continue",
                    "switchingProtocols",
                    "processing",
                    "earlyHints",
                    "ok",
                    "created",
                    "accepted",
                    "nonAuthoritativeInformation",
                    "noContent",
                    "resetContent",
                    "partialContent",
                    "multiStatus",
                    "alreadyReported",
                    "imUsed",
                    "ambiguous",
                    "moved",
                    "redirect",
                    "redirectMethod",
                    "notModified",
                    "useProxy",
                    "unused",
                    "temporaryRedirect",
                    "permanentRedirect",
                    "badRequest",
                    "unauthorized",
                    "paymentRequired",
                    "forbidden",
                    "notFound",
                    "methodNotAllowed",
                    "notAcceptable",
                    "proxyAuthenticationRequired",
                    "requestTimeout",
                    "conflict",
                    "gone",
                    "lengthRequired",
                    "preconditionFailed",
                    "requestEntityTooLarge",
                    "requestUriTooLong",
                    "unsupportedMediaType",
                    "requestedRangeNotSatisfiable",
                    "expectationFailed",
                    "misdirectedRequest",
                    "unprocessableEntity",
                    "locked",
                    "failedDependency",
                    "upgradeRequired",
                    "preconditionRequired",
                    "tooManyRequests",
                    "requestHeaderFieldsTooLarge",
                    "unavailableForLegalReasons",
                    "internalServerError",
                    "notImplemented",
                    "badGateway",
                    "serviceUnavailable",
                    "gatewayTimeout",
                    "httpVersionNotSupported",
                    "variantAlsoNegotiates",
                    "insufficientStorage",
                    "loopDetected",
                    "notExtended",
                    "networkAuthenticationRequired"
                ],
                "type": "string"
            },
            "Error": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "nullable": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "targetField": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "$ref": "#/components/schemas/HttpStatusCode"
                    },
                    "title": {
                        "type": "string",
                        "nullable": true,
                        "readOnly": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "additionalProperties": false
            },
            "DeleteContactInformationRequest": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ContactType"
                    }
                },
                "additionalProperties": false
            },
            "CompleteRequest": {
                "type": "object",
                "properties": {
                    "updateId": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "additionalProperties": false
            },
            "CompleteContactInformationCommandResult": {
                "type": "object",
                "properties": {
                    "isSuccessful": {
                        "type": "boolean"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AddMobilePhoneNumberRequest": {
                "type": "object",
                "properties": {
                    "phoneNumber": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AddOrUpdateMobileCommandResult": {
                "type": "object",
                "properties": {
                    "updateId": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "additionalProperties": false
            },
            "UpdateMobilePhoneNumberRequest": {
                "type": "object",
                "properties": {
                    "verifyPhoneNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "phoneNumber": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "DeleteMobilePhoneNumberRequest": {
                "type": "object",
                "properties": {
                    "verifyPhoneNumber": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "DeleteMobileCommandResult": {
                "type": "object",
                "properties": {
                    "updateId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "signingOrderId": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "additionalProperties": false
            },
            "VerifyOtpRequest": {
                "type": "object",
                "properties": {
                    "otp": {
                        "type": "string",
                        "nullable": true
                    },
                    "updateId": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ProblemDetails": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "detail": {
                        "type": "string",
                        "nullable": true
                    },
                    "instance": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": {
                    "type": "object",
                    "additionalProperties": false
                }
            },
            "VerifyOtpResult": {
                "type": "object",
                "properties": {
                    "updateId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "signingOrderId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "oauth2": {
                "type": "apiKey",
                "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\".\nInclude 'Bearer' before the token in the value field\n\nToken can be retrieved from: <a href='https://jwks-stage.cumulus.sebank.se/api/token?user=197108137444' target='_blank'>https://jwks-stage.cumulus.sebank.se/api/token?user=197108137444</a>\nReplace {user} as needed\n",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "security": [
        {
            "Bearer": []
        }
    ]
}
